<div class="sticky-header">
  <%= render partial: 'shared/title', locals: { title: 'Rehearsals', icon: 'bullhorn'} %>

  <%= link_to new_rehearsal_path, class: "btn btn-primary pull-right" do %>
    <%= fa_icon 'plus' %> New
  <% end %>
</div>
&nbsp;

<div id="rehearsals-grid">
  <%= render partial: 'grid', locals: { rehearsals: @rehearsals } %>
</div>
