<div class="panel panel-default">
  <div class="panel-heading">
    Forgot your password?
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.input :email, autofocus: true %>
          <%= f.button :submit, "Reset Password", class: "btn btn-primary", style: "width: 100%" %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
