@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "vendor/pickadate/default";
@import "vendor/pickadate/default.date";
@import "vendor/pickadate/default.time";

@import "shared/navbar";
@import "shared/status";
@import "gigs";
@import "members";

body {
  padding-top: 60px;

  // System Fonts: https://medium.com/@mwichary/system-shock-6b1dc6d6596f#.hern2xfko //
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

h2 {
  display: inline-block;
  padding: 0 0;
  margin: 0 0;
}

.sticky-header {
  background-color: white;
  z-index: 1000 !important;
  border-bottom: 1px solid #EEE;
  padding: 10px 0;
}

// Bootstrap overrides
.panel-default .panel-heading {
  font-size: 1.2em;
  background-color: #F5F5F5;
}

.data {
  padding-bottom: 10px;

  .data-label {
    font-weight: bold;
  }

  .data-value {
  }
}
