// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "shared/navbar";
@import "gigs";
@import "members";

body {
  padding-top: 60px;

  // System Fonts: https://medium.com/@mwichary/system-shock-6b1dc6d6596f#.hern2xfko //
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.sticky {
  padding-top: 5px;
  background-color: white;
}
