// Place all the styles related to the gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-fixed-icon {
  width: 1em;
}

.gig-data {
  .row {
    padding-bottom: 10px;
  }

  .gig-label {
    font-size: 1.1em;
    font-weight: bold;
  }

  .gig-value {
  }
}
