<div class="sticky-header">
  <%= render partial: 'shared/title', locals: { title: 'Members', icon: 'users'} %>

  <%= render partial: 'query_form' %>
</div>
&nbsp;


<div id="members-grid">
  <%= render partial: 'grid' %>
</div>
