<div class="page-header">
  <%= render partial: 'shared/title', locals: { title: 'Members', icon: 'users'} %>

  <div class="sticky">
    <%= render partial: 'query_form' %>
  </div>
</div>


<div id="members-grid">
  <%= render partial: 'grid' %>
</div>
