<div class="page-header">
  <h2>
    <%= fa_icon 'users' %>
    Members
  </h2>


  <div class="sticky">
    <%= render partial: 'query_form' %>
  </div>
</div>


<div id="members-grid">
  <%= render partial: 'grid' %>
</div>
