<div class="page-header">
  <h2>Members</h2>
</div>

<div class="sticky" style="background-color: white;">
  <%= render partial: 'query_form' %>
</div>

<div id="members-grid">
  <%= render partial: 'grid' %>
</div>
